
body {
    background-image: url("../image/fond-hiver.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #000000;
    font-family: "Comic Sans MS", sans-serif;
    font-size: 18px; /* 1em = 16px | idéal 18-22px */
    line-height: 1.2; /* 1.3 à 1.7 */
    text-align: center;
    margin: 0 30% 0 30%;
    backdrop-filter: blur(10px);
}

img.photo {
    max-width: 100%;

    height: 300px;
    width: 300px;
}

.titre1 a {
    color: #3a0a0a;
    text-decoration: none;
    font-family: "Montserrat Subrayada", sans-serif;
    font-size: 20px;
}

h2 {
    color: #461a91;
}

a {
    color: #243065;

}
